.btn {
  padding: 8px 12px;
  border-radius: 2px;
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease;
  font-family: $sans-bold;
  svg {
    margin-right: 8px;
  }
}
.btn-link {
  box-shadow: none;
  color: $primary-font;
  &:hover {
    background-color: inherit;
    color: (lighten($primary-font, 5));
  }
}
.btn-new {
  font-size: 1rem;
  background-color: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
  box-shadow: none;
  padding: 8px 16px;
  text-transform: none;
  margin-top: 2px;
  margin-bottom: 2px;
  &:hover {
    background-color: transparentize($primary-color, 0.85);
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.btn-outline {
  background-color: #fff !important;
  border-color: $primary-color !important;
  color: $primary-color !important;
  &:hover {
    background-color: #fff;
    border-color: lighten($primary-color, 7) !important;
    color: lighten($primary-color, 7) !important;
  }
}
.btn-gl {
  background-color: #fff;
  color: $primary-font;
  box-shadow: $box-shadow;
  border: 1px solid $borders;
  border-left: 3px solid $gl;
  &:hover {
    background-color: $gl-bg !important;
    color: $gl !important;
    border-color: $gl !important;
    border-left: 3px solid $gl;
  }
}
.btn-ppm {
  background-color: #fff;
  color: $primary-font;
  border: 1px solid $borders;
  border-left: 3px solid $ppm;
  &:hover {
    background-color: $ppm-bg !important;
    color: $ppm !important;
    border-color: $ppm !important;
    border-left: 3px solid $ppm;
  }
}
.btn-ppm.btn-outline-active {
  background-color: $ppm !important;
  color: #fff !important;
}
.btn-gl.btn-outline-active {
  background-color: $gl !important;
  color: #fff !important;
}
.california-bg {
  background-color: transparentize($california, 0.9);
  a {
    color: $california;
    &:hover {
      color: transparentize($california, 0.9);
    }
  }
}
.sunflower-bg {
  background-color: transparentize(#d5b804, 0.9);
  a {
    color: #d5b804;

    &:hover {
      color: transparentize(#d5b804, 0.9);
    }
  }
}
.merlot-bg {
  background-color: transparentize($merlot, 0.9);
  a {
    color: $merlot;

    &:hover {
      color: transparentize($merlot, 0.9);
    }
  }
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparentize($primary-color, 0.75);
  color: $primary-font;
}

// forms

label {
  color: $primary-font;
}
.form-select {
  background-color: $primary-bg;
  border: 1px solid $borders;
  color: $primary-font;
  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 0.1rem transparentize($primary-color, 0.75);
  }
}
hr {
  border-color: $borders;
}
.form-control {
  background-color: $primary-bg;
  border: 1px solid $borders;
  color: $primary-font;
}
.form-control:focus {
  background-color: $primary-bg;
  border-color: $primary-color;
  color: $primary-font;
  box-shadow: 0 0 0 0.1rem transparentize($primary-color, 0.75);
}
.bold-link {
  font-family: $sans-bold;
  text-decoration: none;
  svg {
    margin-right: 8px;
  }
}
.back-link {
  text-decoration: none;
  margin-bottom: 8px;
  svg {
    margin-right: 8px;
  }
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: $primary-color;
  background-color: inherit;
  border-color: none;
}
.loading-wrapper {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  p {
    color: $secondary-font;
  }
  img {
    width: 100px;
  }
}
//
.wrapper {
  text-align: center;
}
.squiggle-path {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: dash 2s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.pencil-write {
  animation: slide-right 2s infinite;
  /*   transform: translate(69%,18%); */
}
@keyframes slide-right {
  0% {
    transform: translate(2%, 25%);
  }
  12% {
    transform: translate(10%, 20%);
  }
  16% {
    transform: translate(16%, 23%);
  }
  20% {
    transform: translate(25%, 20%);
  }
  38% {
    transform: translate(40%, 25%);
  }
  42% {
    transform: translate(45%, 21%);
  }
  53% {
    transform: translate(67%, 25%);
  }
  100% {
    transform: translate(69%, 18%);
  }
}
.chartstring-type {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: $sans-bold;
}
.is-ppm {
  border-left: 6px solid $ppm !important;
  .chartstring-type {
    color: $ppm;
  }
  .unique-bg {
    background-color: $ppm-bg;
    h4 {
      color: $ppm;
    }
  }
}
.is-gl {
  border-left: 6px solid $gl !important;
  .chartstring-type {
    color: $gl;
  }
  .unique-bg {
    background-color: $gl-bg;
    h4 {
      color: $gl;
    }
  }
}
.is-none {
  border-left: 6px solid $borders !important;
}
.primary-font {
  color: $primary-font !important;
}

.copy-container-hover {
  display: inline;
}

.main {
  .badge {
    border-radius: 2px !important;
    &.bg-danger {
      background-color: #74011d !important;
    }
    &.bg-warning {
      color: $primary-font !important;
    }
    &.bg-success {
      background-color: #25681a !important;
    }
  }
}

.row-link {
  text-decoration: none !important;
  padding: 8px;
  cursor: pointer;
  &.is-gl:hover {
    background-color: $gl-bg !important;
  }
  &.is-ppm:hover {
    background-color: $ppm-bg !important;
  }
  &.is-default:hover {
    background-color: $bg-primary;
  }
  &:hover {
    &.is-gl {
      .row-link-selected-action {
        color: $gl;
      }
    }
    &.is-ppm {
      .row-link-selected-action {
        color: $ppm;
      }
    }
  }
}
