html,
body {
  height: 100%;
  background-color: $primary-bg;
}
body {
  display: flex;
  flex-direction: column;
}
.page-wrap {
  flex: 1 0 auto;
}

.container {
  padding: 0;
  width: 96%;
  max-width: 1440px;
  @include breakpoint(sm) {
    width: 92%;
  }
  @include breakpoint(md) {
    width: 90%;
  }
  @include breakpoint(lg) {
    width: 86%;
  }
}
.header {
  background-color: $primary-color;
  background-image: url("https://registration.ucdavis.edu/Images/Media/gunrock_banner_final.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0;
  margin-bottom: 2%;
  img {
    width: 235px;
  }
}
// nav
.simple-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  a.nav-item {
    padding: 1% 1.5%;
    margin: 2%;
    color: $primary-font;
    border-bottom: 2px solid $primary-color;
    box-shadow: $box-shadow;
    transition: background-color 0.5s ease;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $primary-font;
      background-color: transparentize($primary-color, 0.9);
    }
  }
  a.active {
    background-color: $primary-color;
    color: #fff !important;
    &:hover {
      background-color: $primary-color;
    }
  }
}
footer {
  margin-bottom: 3%;
}
