.appheader {
  text-align: center;
  padding: 5% 0 1% 0;
  .hippo svg {
    margin-bottom: 8px;
  }
  h1 {
    vertical-align: middle;
    margin-top: 4px;
    img {
      margin-right: 8px;
    }
  }
}
