.saved-list-item {
  margin-top: 1.5%;
  border: 1px solid $borders;
  list-style: none;
  // &:hover {
  //   background-color: $bg-primary;
  // }
  .row-title {
    text-transform: uppercase;
    font-family: $sans-bold;
    margin-bottom: 0px;
  }
  .row-subtitle {
    margin-bottom: 0px;
  }
}
.chartstring-details {
  margin-top: 1%;
  margin-bottom: 2%;
  border: 1px solid $borders;
  border-radius: 4px;
  .chartstring-details-title {
    padding: 16px 16px 8px 16px;
    border-bottom: 1px solid $borders;
  }
  .chartstring-details-info {
    padding: 16px;
    border-bottom: 1px solid $borders;
    .row {
      padding: 4px 0;
      align-items: baseline;
    }
    h4 {
      text-transform: uppercase;
      font-size: 0.9rem;
      font-family: $sans-bold;
      color: $primary-font;
      margin: 0;
    }
    .chartstring-details-info-right {
      color: $secondary-font;
      font-size: 1rem;
    }
  }
}
.chartstring-row {
  border-radius: 4px;
  border: 1px solid $borders !important;
  padding: 8px;
}
.fin-row {
  border-radius: 4px;
  border: 1px solid $borders !important;
  .fin-info {
    padding: 20px 8px 12px 8px;
  }
  .fin-actions {
    background-color: $bg-primary;
    border-top: 1px solid $borders;
    padding: 10px 20px;
  }
}
.stat-icon {
  margin-right: 16px;
  color: $secondary-font;
  font-family: $sans-bold;
  svg {
    margin-right: 8px;
  }
}
.page-title {
  border-bottom: 1px solid $borders;
}
.page-info {
  p {
    margin-bottom: 0;
  }
}
.team-chart-wrapper {
  margin-top: 2%;
  h2 {
    font-family: $sans-bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: -14px;
  }
  h3 {
    color: $secondary-font;
    font-family: $sans-bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    svg {
      height: 9px !important;
    }
  }
  .no-link-style {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
    svg {
      margin-left: 4px;
      height: 10px;
      padding-top: 3px;
    }
  }
  .saved-list-item:first-child {
    margin-top: 0;
  }
  .list-group {
    padding-left: 16px;
    border-left: 2px solid $borders;
    margin-top: 12px;
    border-radius: 0px;
  }
  .folder-chart-wrapper {
    margin-top: 20px;
  }
}
